CREATE TABLE propiedades_temp (id INTEGER PRIMARY KEY AUTOINCREMENT, titulo TEXT NOT NULL, categoria TEXT NOT NULL, precio TEXT NOT NULL, rating TEXT DEFAULT '5.0', img TEXT NOT NULL, galeria TEXT DEFAULT '[]', ubicacion TEXT NOT NULL, mapa_embed TEXT DEFAULT '', descripcion TEXT NOT NULL, huespedes INTEGER NOT NULL, dormitorios INTEGER NOT NULL, banios INTEGER NOT NULL, amenidades TEXT DEFAULT '[]', detalles TEXT DEFAULT '', created_at DATETIME DEFAULT CURRENT_TIMESTAMP, updated_at DATETIME DEFAULT CURRENT_TIMESTAMP);
