[build]
  command = "npm run build"
  publish = "build"

# Redirigir rutas React (excepto /admin)
[[redirects]]
  from = "/admin/*"
  to = "/admin/index.html"
  status = 200

[[redirects]]
  from = "/*"
  to = "/index.html"
  status = 200

[env]
  REACT_APP_API_URL = "https://tu-backend.herokuapp.com/api"
